<!-- The view for the referral table/input form -->
<div class="container">
	<h1>Grow the web with referrals!</h1>
	<div class="row">
		<form class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<label>Add a link: </label>
		    <input type="text" ng-model="ref.newRef" class="form-control" placeholder="Link">
		    <button type="add" class="btn btn-default" ng-click="ref.addReferral()">Add</button>
		</form>
		<table id="refTable" class="table table-hover col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<tr>
				<td>Link Title</td>
				<td>Clicks</td>
				<td>Edit</td>
				<td>Delete</td>
			</tr>
			<tr ng-repeat="referral in ref.refs track by $index">
				<td><a href="#/landing" ng-click="ref.updateClicks($index)">{{referral.ref}}</a></td>
				<td>{{referral.clicks}}</td>
				<td><button ng-click="ref.editRef()">Edit</button></td>
				<td><button ng-click="ref.removeRef($index)">Delete</button></td>
			</tr>
		</table>
	</div>
</div>